<form [formGroup]="personForm">
  <label> First name: <input type="text" formControlName="firstName" /> </label>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.firstName">
      <div
        class="error-message"
        *ngIf="
          personForm.get('firstName').hasError(validation.type) &&
          personForm.get('firstName').touched
        "
      >
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <label> Last name: <input type="text" formControlName="lastName" /> </label>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.lastName">
      <div
        class="error-message"
        *ngIf="
          personForm.get('lastName').hasError(validation.type) &&
          (personForm.get('lastName').dirty ||
            personForm.get('lastName').touched)
        "
      >
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <label>
    Year of birth: <input type="number" formControlName="yearOfBirth" /> </label
  ><br />

  <label>
    National registration number:
    <input
      type="text"
      formControlName="nationalRegNumber"
      placeholder="11.11.11-111.11"
      (keyup)="keyUp($event)"
    />
  </label>
  <div class="validation-errors">
    <ng-container
      *ngFor="let validation of validation_messages.nationalRegNumber"
    >
      <div
        class="error-message"
        *ngIf="
          personForm.get('nationalRegNumber').hasError(validation.type) &&
          personForm.get('nationalRegNumber').touched
        "
      >
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <label>
    Gender: <input id="male" type="radio" name="gender" value="male" /> Male
    <input id="female" type="radio" name="gender" value="female" /> Female<br />
  </label>

  <div formGroupName="address">
    <h3>Address</h3>

    <label> Country: <input type="text" formControlName="country" /> </label
    ><br />

    <label> City: <input type="text" formControlName="city" /> </label><br />

    <label> Street: <input type="text" formControlName="street" /> </label
    ><br />

    <label> Number: <input type="number" formControlName="number" /> </label
    ><br />
  </div>
</form>
